body{
    font-family: arial;
    background-color: rgb(236, 241, 252);
}
.container{
    width: 60%;
    margin: auto;
}
.formulario_login{
    width: 50%;
    margin: auto;
    border: 1px solid rgb(173, 173, 173);
    padding: 40px;
    background-color: white;
}
.formulario_login form label{
    font-size: 16px;
    display: flex;
    margin-bottom: 8px;
}
.formulario_login form input{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid rgb(161, 191, 250);
}
@media all and (max-width: 766px) {
    .container{
        width:100%;
    }
    .formulario_login{
        width: 80%;
    }
}
.formulario{
    width: 70%;
    margin: auto;
    border: 1px solid rgb(173, 173, 173);
    padding: 40px;
    background-color: white;
}
.formulario form label{
    font-size: 16px;
    display: flex;
    margin-bottom: 8px;
}
.formulario form input{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid rgb(161, 191, 250);
}
.selectCad{
    border: 1px solid rgb(187, 187, 187);
    outline: 0;
    padding: 10px
}
#cpfEmpresa{display:none}
#cnpjEmpresa{display:none}


/* .formulario form input .submit{
    background-color: red;
} */