.sucesso{
    /* color: rgb(3, 224, 3); */
    width: 40%;
    color: rgb(6, 192, 6);
    text-align: center;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
}
.erro{
    background-color: red;
    color: white;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    text-align: center;
    /* background-image: url("../../assets/imagens/avisos/erro.png");
    background-position: left;
    background-size: 30px;
    background-repeat: no-repeat, no-repeat;
    background-origin: content-box; */
}
.desc_input{
    font-size: 10px;
    color: gray;
}
.vazioTabela{
    color:gray;
}
.botao_adicionar{
    outline: 0;
    border: 1px solid gray;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(63, 184, 63);
    color: white;
    margin-left: 28px;
    font-size: 12px;
}
.botao_adicionar:hover{
    background-color: rgb(21, 131, 21);
}
.botao_voltar{
    outline: 0;
    border: 0;
    box-shadow: 0px 0px 0px 1px;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(253, 235, 74);
    color: black;
    width: 80px;
    margin-left: 28px;
    font-size: 12px;

}
.botao_consultar{
    outline: 0;
    border: 0;
    border: 1px solid gray;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(152, 133, 255);
    color: white;
    margin-left: 28px;
    font-size: 12px;
}
.botao_consultar:hover{
    background-color: rgb(74, 74, 185);
}
.botao_voltar:hover{
    background-color: rgb(248, 226, 26);
}
.botao_cadastrar{
    border: 1px solid gray;
    cursor:pointer;
    background-color: rgb(32, 151, 32);
    color: white;
}
.botao_cadastrar:hover{
    background-color: green;
}